.main{
    .earth{
        height: 100vh;
        background-color: #0f0f0f;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img{
            height: 100%;
        }
    }
    
}